.discover__title {
    max-width: none;
}
.discover__text {
    max-width: none;
}
.process__steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.process__step {
    width: 30%;
}
.restaurants__cards {
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    flex-wrap: wrap;
}
.restaurants__cards a {
    width: 45%;
}
.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
}

/* Pages restaurants */

.menu__list {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.menu__bloc {
    width: 30%;
}