/* Presentation */
.discover__text {
    max-width: none;
}

/* Restaurants */
.restaurants__cards {
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    flex-wrap: wrap;
}
.restaurants__cards a {
    width: 45%;
}