@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color:black;
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'Shrikhand', sans-serif;
}
.header__logo {
    color: black;
    text-decoration: none;
}

/* Localisation */

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #f3f3f3;
}
.location__icon {
    padding-right: 15px;
}

/* Discover */

.discover {
    width: 100%;
    background-color: #fafafa;
}
.discover__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.discover__title {
    max-width: 250px;
    text-align: center;
}
.discover__text {
    padding: 20px 0;
    max-width: 300px;
    text-align: center;
    font-weight: lighter;
}
.discover__button {
    color: white;
    background-color: var(--secondary);
    border-radius: 25px;
    padding: 10px;
}
.discover__button:hover {
    cursor: pointer;
    background-color: var(--primary);
}

/* Process */

.process__container {
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.process {
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.process__step {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    height: auto;
    width: auto;
    margin: 10px 20px;
    padding: 15px 0;
    position: relative;
}
.process__number {
    background-color: var(--primary);
    color: white;
    position: absolute;
    padding: 3px 8px;
    border-radius: 25px;
    transform: translateX(-50%);
}
.process__icon {
    color: #7e7e7e;
    margin: 0 20px;
}
.process__step:hover {
    background-color: var(--secondary);
}

/* Restaurants */

.restaurants {
    background-color: #f6f6f6;
    padding: 25px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    flex-direction: column;
}

/* .restaurants__cards {
    display: flex;
} */

.restaurants__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px;
    /* transform: scale(1); */
    background-color: white;
}
.restaurants__image {
    width: 100%;
    height: 190px;
}
.restaurants__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* .restaurants__images {
    width: 200px;
    max-height: 100px;
    object-fit: cover;
} */