@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color:black;
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-family: 'Shrikhand', sans-serif;
}
.header__logo {
    color: black;
    text-decoration: none;
}

/* Localisation */

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #f3f3f3;
}
.location__icon {
    padding-right: 15px;
}

/* Discover */

.discover {
    width: 100%;
    background-color: #fafafa;
}
.discover__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.discover__title {
    max-width: 250px;
    text-align: center;
}
.discover__text {
    padding: 20px 0;
    max-width: 300px;
    text-align: center;
    font-weight: lighter;
}
.discover__button {
    color: white;
    background-color: var(--secondary);
    border-radius: 25px;
    padding: 10px;
}
.discover__button:hover {
    cursor: pointer;
    background-color: var(--primary);
}

/* Process */

.process__container {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.process {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.process__step {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    height: auto;
    width: auto;
    margin: 10px 10px;
    padding: 20px 0;
    position: relative;
}
.process__number {
    background-color: var(--primary);
    color: white;
    position: absolute;
    padding: 3px 8px;
    border-radius: 25px;
    transform: translateX(-50%);
}
.process__icon {
    color: #7e7e7e;
    margin: 0 20px 0 30px;
    width: 20px;
}
.process__step:hover {
    background-color: var(--secondary);
}

/* Restaurants */

/* .restaurants__cards a {
    text-decoration: none;
} */
.restaurants {
    background-color: #f6f6f6;
    padding: 25px;
    /* max-width: 1200px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.restaurants__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restaurants__cards a {
    text-decoration: none;
    color: black;
    width: 100%;
    margin-top: 20px;
}
.restaurants__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px;
    /* transform: scale(1); */
    background-color: white;
}
.restaurants__image {
    width: 100%;
    height: 190px;
}
.restaurants__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.restaurants__bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.restaurants__text {
    margin-left: 20px;
}
.restaurants__like {
    margin-right: 20px;
    transform: scale(2);
}
.restaurants__like:hover {
    color: var(--secondary);
}
.restaurants__card-new {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--tertiary);
    color: #0f9932;
    height: 40px;
    width: 100px;
}

/* Footer */

.footer {
    width: 100%;
    background-color: #353535;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.footer__bloc {
    /* display: inline; */
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
}
.footer__logo {
    font-family: 'Shrikhand', sans-serif;
    font-size: 20px;
    padding: 15px 0;
}
.footer__links {
    display: inline-flex;
    flex-direction: column;
    width: auto;
}
.footer__link {
    display: inline-flex;
    /* align-items: center; */
    flex-direction: row;
    text-align: center;
    height: 30px;
    cursor: pointer;
}
.footer__link i {
    width: 20px;
    margin-right: 5px;
}
.footer__text {
    font-size: 16px;
    font-weight: 400;
}
.footer a {
    text-decoration: none;
    color: white;
}
/* ************************ */

/* PAGES RESTAURANTS */
/* Header */

.header__return {
    position: absolute;
    left: 35px;
}
.header__return a {
    text-decoration: none;
    color: black;
}

/* Image */

.img {
    width: 100%;
    height: 50vh;
}
.img__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Menu */

#menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    margin-top: -80px;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
}
.menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
}
.menu__header--title {
    font-family: 'Shrikhand', sans-serif;
}
.menu__header--like {
    transform: scale(2);
    padding-right: 10px;
}

/* Plats des menus */

.menu__list {
    display: flex;
    flex-direction: column;
}
.menu__bloc {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.menu__title {
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--tertiary);
    width: 60px;
}
.menu__dishes {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.menu__dish-and-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}
.menu__dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.menu__dish--title {
    font-weight: 300;
    line-height: 30px;
}
.menu__dish--info {
    font-weight: 100;
}
.menu__dish--price {
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}

/* Bouton commander */

.menu__command-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.menu__button {
    color: white;
    background-color: var(--secondary);
    border-radius: 25px;
    padding: 15px 40px;
    font-size: 20px;
    margin-bottom: 50px;
}
.menu__button:hover {
    background-color: var(--primary);
}